### Function
* Has two part - `definition` and `call`

In [ ]:
# Get Student grades
def get_grade():
    """get user input"""
    #count = 5
    student_scores = []
    subjects = ["English", "Kiswahili", "Math", "Science", "GHC"]
    #while count <=5:
    for subject in subjects:
        score = int(input(f"Enter {subject} Score \n"))
        student_scores.append(score)
        #count +1
    return student_scores

get_grade()

In [ ]:
# get student name
def get_student_name():
    students = input("Student name e.g. Dominic \n")
    return students  
get_student_name()

'Yussuf'

In [ ]:

def get_students_total():
    
    """Get total Scores
    Return:
        Total Students scores out of 499
    """
    student_scores = get_grade()
    total = sum(student_scores)
    
    return total

get_students_total()

400

In [ ]:
def student_performance():
    """Student performance:
    Get Student Name
    Get Student Scores
    Get Student Grades
    Sum of Student scores
    return:
        Student name, score, grades, sum"""
    student_name = get_student_name()
    student_score = get_grade()
    student_grades= []
    #loop through the grades
    for score in student_score:
        if (score >= 70) and (score <=100):
            grade = ("A")
            student_grades.append(grade)
        elif (score <= 69) and (score >=60):
            grade = ("B")
            student_grades.append(grade)
        elif (score <=59) and (score >=50):
            grade = ( "C")
            student_grades.append(grade)
        elif (score <=49) and (score >=40):
            grade = ( "D")
            student_grades.append(grade)
        elif (score<=39) and (score >=0):
            grade = ("E")
        else:
            print("Invalid grade")
            student_grades.append(None)
   
    total = sum(student_score)

    
    return student_name, student_score, student_grades, total

student_performance()

('Yussuf', [80, 50, 60, 70, 80], ['A', 'C', 'B', 'A', 'A'], 340)

In [ ]:
student_number = 0
class_performance = {
    "Name": [],
    "English": [],
    "English_grade": [],
    "Kiswahili": [],  
    "Kiswahili_grade": [],
    "Math": [],
    "Math_grade": [],
    "Science": [],
    "Science_grade": [],
    "GHC": [],
    "GHC_grade": [],
    "Total": []
}
while (student_number <=2):
    individual_student = student_performance ()
    individual_student = list(individual_student)
    class_performance["Name"].append(individual_student[0])
    class_performance["English"].append(individual_student[1][0])
    class_performance["English_grade"].append(individual_student[2][0])
    class_performance["Kiswahili"].append(individual_student[1][1])
    class_performance["Kiswahili_grade"].append(individual_student[2][1])
    class_performance["Math"].append(individual_student[1][2])
    class_performance["Math_grade"].append(individual_student[2][2])
    class_performance["Science"].append(individual_student[1][3])
    class_performance["Science_grade"].append(individual_student[2][3])
    class_performance["GHC"].append(individual_student[1][4])
    class_performance["GHC_grade"].append(individual_student[1][4])
    class_performance["Total"].append(individual_student[3])

    student_number +=1
    

print(class_performance)

{'Name': ['Dominic', 'Yussuf', 'Abdi'], 'English': [80, 80, 90], 'English_grade': ['A', 'A', 'A'], 'Kiswahili': [70, 70, 60], 'Kiswahili_grade': ['A', 'A', 'B'], 'Math': [80, 50, 70], 'Math_grade': ['A', 'C', 'A'], 'Science': [60, 60, 45], 'Science_grade': ['B', 'B', 'D'], 'GHC': [80, 70, 70], 'GHC_grade': [80, 70, 70], 'Total': [370, 330, 335]}

In [ ]:
import pandas as pd

df = pd.DataFrame(class_performance)
df

,Name,English,English_grade,Kiswahili,Kiswahili_grade,Math,Math_grade,Science,Science_grade,GHC,GHC_grade,Total
0,Dominic,80,A,70,A,80,A,60,B,80,80,370
1,Yussuf,80,A,70,A,50,C,60,B,70,70,330
2,Abdi,90,A,60,B,70,A,45,D,70,70,335